@charset "utf-8";


p {
	color:white;
	font-family: Gotham;
	font-size: 18px; 
	line-height: 18px;
	width:600px;
	padding: 20px;
}
body {
	background-image:url("Slike/pozadina.jpg");
}

h1 {

	color:white;
	font-family: "AjnaBe";
}

a {
	color:LightCoral;
	line-height: 25px;
}
h2{
	color:white
}


h3  {
	color:white;
	font-family:Gotham;
	font-size:24px;
}
li {
	display:inline; /*prikaz u jednom redu*/
			background-color:purple;
			padding:10px;
			border: 2px solid purple;

			font-family:Gotham;

}
	 li:active {background-color:IndianRed;} /*kada kliknemo na li mijenja se boja*/

ul {
	/*centriranje*/
			padding:20px; 
			margin-left: 20px; 
			margin-right:auto;  
			width: 300px;
			} 
img {
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:200px;
}
@fontface{
font-family:"customfont";
src:url("AjnaBe.ttf") format("truetype);
}


h1{
font-family:"customfont";
}
</
